@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



:root {
  --primary-color: #70c3e9;
  --secondary-color: #328eb9;
  --heading-color: #1E293B;
  --text-color: #64748B;
  --accent-color:#fff;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Satisfy", serif; 
}

.dark-mode {
  --primary-color: #3B82F6;
  --secondary-color: #1E40AF;
  --heading-color: #E2E8F0;
  --text-color: #CBD5E1;
  --accent-color:#232a3a;
  background-color: #0F172A; /* Dark background for the page */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color) !important;
}
h1{
  background: linear-gradient(to right, #556064, var(--secondary-color),#7cdcff) !important; 
  background-clip: text !important;
  color: transparent !important;
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color: inherit;
}

.secondary__btn {
  background: transparent !important;
  /* color: #0b2727 ; */
  border: none !important;
  font-weight: 500 !important;
  color: var(--heading-color) !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}

/* Button hover effect */
.primary__btn,
.secondary__btn {
  transition: transform 0.5s ease, background-color 0.5s ease !important;
  border-radius: 50px !important;
}

.primary__btn:hover,
.secondary__btn:hover {
  transform: scale(1.05) !important;
  background-color: var(--primary-color) !important; 
}

/* Button click effect */
.primary__btn:active,
.secondary__btn:active {
  transform: scale(0.95) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  
}

.section__subtitle {
  background: linear-gradient(45deg, var(--secondary-color), #99d5f3);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 5px 15px;
  padding-right: 1rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
}


/* Responsive styles */
@media (max-width: 992px) {
  .section__subtitle {
      font-size: 1rem;
      padding: 4px 12px;
      padding-right: 0.9rem;
  }
}

@media (max-width: 768px) {
  .section__subtitle {
      font-size: 1rem;
      padding: 3px 10px;
      padding-right: 0.8rem;
  }
}

@media (max-width: 576px) {
  .section__subtitle {
      font-size: 1rem;
      padding: 2px 8px;
      padding-right: 0.7rem;
  }
}