.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.logo img{
    width: clamp(100px, 30%, 175px);
    /* height: clamp(4vh, 10vh, 12vh); */
}
.menu{
    margin-bottom: 0 ;
}
.separator {
    width: 1px; /* Separator width */
    height: 40px; /* Adjust height as needed */
    background-color: var(--secondary-color); /* Separator color */
    margin: 0 15px; /* Add spacing between navigation and nav__right */
  }
  
.nav__item a{
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 10px 25px;
}

.nav__item a.active__link{
    color: var(--heading-color);
}

.nav__item a:hover {
    background-color: var(--primary-color);
    border-radius: 50px ;
    color: #fff;
    
}

.mobile_menu{
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}
.sticky__header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
    
}
.bg{
    background: var(--secondary-color);
    border-radius: 4px;
    padding:5px 10px;
}
/* .header.sticky__header {
    background-color: #fff !important; 
    box-shadow: 3px 3px 8px -3px #ddd; 
  } */
  
  /* Sticky Header Styles for Dark Mode */
  .header.dark-mode.sticky__header {
    background-color: #0F172A ; 
    box-shadow: 3px 3px 8px -3px #333;
  }
  .mobile__menu{
    display:none;
  }
.dark-mode .mobile__menu .ri-menu-line {
    color: #fff; 
  }
  
 

/* Responsive styles */
@media (max-width: 992px) {
    .header {
        height: 70px;
        line-height: 70px;
        padding: 0 15px;
    }

    /* .logo img {
        width: clamp(12vw, 20vw, 22vw);
        height: clamp(6vh, 10vh, 11vh);
    } */

    .separator {
        height: 30px;
    }
    .navigation ul li{
        width: 50%;
    }

}

@media (max-width: 768px) {
    .header {
        height: 60px;
        line-height: 60px;
        padding: 0 10px;
    }

    /* .logo img {
        width: clamp(7vw, 17vw, 19vw);
        height: clamp(4vh, 8vh, 10vh);
    } */

    .menu {
        display: none;
    }
    .navigation ul li{
        width: 50%;
    }
    .mobile__menu {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

@media (max-width: 576px) {
    .header {
        height: 50px;
        line-height: 50px;
        padding: 0 5px;
    }

    /* .logo img {
        width: clamp(5vw, 16vw, 17vw);
        height: clamp(3vh, 4vh, 8vh);
    } */

    .separator {
        display: none;
    }
    .nav__wrapper{
        width: 90%;
    }
}




































.navigation {
    display: flex;
    
}

@media (max-width: 768px) {
    .navigation {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--accent-color);
        width: 60%;
        border-radius: 15px;
        height: auto;
        flex-direction: column;
        align-items: flex-end;
        padding: 15px 5px;
        display: none;
    }

    .navigation.menu-open {
        display: flex;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .nav__item {
        width: 100%;
    }


    .dark-mode .mobile__menu .ri-close-line {
        color: #fff;
    }

    .mobile__menu {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
